/*
 *= require_self
 *= require_tree .
 */

@font-face{
  font-family: tanuki;
  src: font_url('TanukiMagick.ttf') format('truetype');
}

.clearfix:after{
  content: "";
  clear: both;
  display: block;
}

html, body{ height: 100% }

body{
  background-image: image-url("background.png");
  font-family: tanuki;
}

nav#header{
  position: fixed !important;
  top: 0px;
  left: 0px;
  right: 0px;

  background-color: rgba(39, 69, 64, 0.82);

  ul{
    float: right;

    li{
      margin-right: 10px;

      float: left;
      list-style: none;
      font-size: 18px;
      *{ color: #fff; }
    }
  }
}

#container{
  padding-top: 35px;
  padding-bottom: 20px;
}

#footer{
  position: fixed !important;
  width: 100%;
  height: 20px;
  bottom: 0px;
  border-bottom: 20px solid #a60;
}

