/*
 *= require_self
 *= require_tree .
 */

@font-face{
  font-family: tanuki;
  src: font_url('TanukiMagick.ttf') format('truetype');
}

html, body{ height: 100% }

body{
  background-image: image-url("background.png");
  font-family: tanuki;
}

#container{
  padding-bottom: 20px;
}

#footer{
  position: fixed !important;
  width: 100%;
  height: 20px;
  bottom: 0px;
  border-bottom: 20px solid #a60;
}

